tags
settings.json
.project
.pydevproject
.settings/
build/
dist/
*.egg-info
*.mo
*.pyc
*.pyo
*~
*.DS_Store
tmp/JORTs/Loi-n°-2007-43-du-25-Juin-2007-Fr.txt
tmp/JORTs/Loi-n°-2007-43-du-25-Juin-2007-Fr.pdf
